{% extends "auctions/layout.html" %}

{% block body %}
    <div class="jumbotron">
        <h1>ACTIVE LISTINGS</h1>

    {% for item in items %}
    <div class="card my-2">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="{{ item.image }}" class="myImg" alt="" style="height: 300px; width: 400px;">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <a href="{% url 'item' item.name %}"><h4 class="card-title mt-5 ml-5 font-weight-bold">{{ item.name }}</h4></a>
                    <p class="card-text ml-5 font-weight-bold">Price: {{ item.price }} ₹</p>
                    <p class="card-text ml-5">{{ item.description }}</p>
                    <p class="card-text ml-5">{{ item.daycreated }} </p>
                </div>
            </div>
        </div>
  </div>
  {% endfor %}
    </div>
{% endblock %}